*.idea
*.zip
*.gz
log/*.log
log/*.log.[0-9]
*.tmp
log/*.txt
logs/log.txt
# Word temporary
~$*.doc*
# *.[oa]
# *~

*.pdf

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

sql/test

includes/mpdf60/

learning/

inspinia/img/

transmed/img/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

*.jpg
*.bmp
*.png
*.gif
*.mp4
*.mov
*.jpeg


db_connection.php
new_ByB_project/
smartAdmin/
SmartAdmin_Full_Version_html/
config.php
config_mail.php
/includes/config_transmed.php
/sandbox/
/Minton_full_version/
/jquery/
Inspinia_Full_Version_2
vendor
/public/admin/test/*
/transmed/xml/transmed/*
/includes/transmed_config/config_transmed.php
/includes/transmed_config/
/public/img/*
test2.sql
Inspinia/css/patterns/
Inspinia/css/plugins/images/
Inspinia/css/plugins/jQueryUI/images/
Inspinia/js/plugins/gritter/images/
Inspinia/js/plugins/jquery-ui/images/
Inspinia_Full_Version/css/patterns/
Inspinia_Full_Version/css/plugins/images/
Inspinia_Full_Version/css/plugins/jQueryUI/images/
Inspinia_Full_Version/email_templates/img/
Inspinia_Full_Version/img/
Inspinia_Full_Version/js/plugins/gritter/images/
Inspinia_Full_Version/js/plugins/jquery-ui/images/
WhatsApp Documents/
includes/random_Color/
jqry_mobile/Ch_5/images/
jqry_mobile/jquery.mobile-1.4.2/demos/css/themes/default/images/icons-png/
jqry_mobile/jquery.mobile-1.4.2/demos/theme-classic/images/
jqry_mobile/jquery.mobile-1.4.2/images/icons-png/
jqry_mobile/udemy1/
minton/admin/
minton/assets/images/big/
minton/assets/images/email/
minton/assets/images/gallery/
minton/assets/images/small/
minton/assets/images/users/
minton/assets/less/icons/ionicons/png/
mobilizer/documentation/assets/blueprint-css/plugins/buttons/icons/
mobilizer/documentation/assets/blueprint-css/plugins/link-icons/icons/
mobilizer/documentation/assets/images/
mobilizer/html/assets/images/
mobilizer/html/assets/portfolio/images/
my_helps/PHPExcel_1.8.0/Examples/images/
public/admin/crud/transmed/
public/angular/images/
public/css/patterns/
public/css/plugins/images/
public/css/plugins/jQueryUI/images/
public/img/Bralia/Hanoucah/
public/img/Bralia/budapest/
public/img/Bralia/cuba/
public/img/Bralia/ethiopie/
public/img/Bralia/loire_zoo/
public/img/Bralia/venise/
public/img/DesireeWedding/
public/img/antisemitism/
public/img/facebook/
public/img/handicap/
public/img/history_figure/
public/img/leiana/
public/img/shoah/
public/img/social_media/
public/js/plugins/gritter/images/
public/js/plugins/jquery-ui/images/
transmb/assets/img/
transmed/css/patterns/
transmed/css/plugins/images/
transmed/css/plugins/jQueryUI/images/
transmed/js/plugins/gritter/images/
transmed/js/plugins/jquery-ui/images/
transmed/xml/transmed/
transmed/z_history/css/patterns/
transmed/z_history/css/plugins/images/
transmed/z_history/css/plugins/jQueryUI/images/
transmed/z_history/js/plugins/gritter/images/
transmed/z_history/js/plugins/jquery-ui/images/
transmedmb/admin/
transmedmb/assets/images/
transmedmb/assets/portfolio/images/
transmedmb/documentation/assets/blueprint-css/plugins/buttons/icons/
transmedmb/documentation/assets/blueprint-css/plugins/link-icons/icons/
transmedmb/documentation/assets/images/
public/img/Kamy/Weslley_judeo.jpeg
public/img/maman_document/2020-08-14 Lelah Facture Maman_AiG Europe lux CHF 108.00.jpeg
public/img/maman_document/2020-08-14 Lelah Facture Maman_SBB CFF CHF 205.00 2.jpeg
public/img/maman_document/2020-08-14 Lelah Facture Maman_SBB CFF CHF 205.00.jpeg
public/img/maman_document/2020-08-14 Lelah Facture Maman_Swiscom CHF 578.30.jpeg
public/img/maman_document/2020-08-25_Lettre poursuite CSS ASSurance_1 CHF 259.60.jpeg
public/img/maman_document/2020-08-27_Wincasa_3.jpeg
"public/img/maman_document/2020-09-02 Maman Facture Geneve-M\303\251decin CHF 482.75.jpeg"
public/img/maman_document/2020-09-07 Ambulance Maman 1 CHF 864.10.jpeg
public/img/maman_document/2020-09-07 Ambulance Maman 2 Fact CHF 864.10.jpeg
public/img/maman_document/Capital trsf papa Wesley CHF 12500.jpeg
public/img/maman_document/Fact Maman Helvetia CHF 473.20.jpeg
public/img/maman_document/Fact Maman UBS and Accardia CHF 500.00.jpeg
public/img/maman_document/Fact Maman UBS2 Card Center 2020_07-26 CHF 1000.00.jpeg
public/img/maman_document/Maman office poursuite CSS Assurance CHF 2373.75.jpeg
